entrypoint = "Day5/height_of_students.py"
modules = ["python-3.10"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "Day5/height_of_students.py"]
deploymentTarget = "cloudrun"
